@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        scroll-behavior: smooth;
    }
}
.disabled_swiper_button {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}
